# Turn rewrite engine on
Options +FollowSymlinks

#contact_group_member
RedirectMatch ^/contact_group_member/memberlist/([0-9]+)/?$ http://ec2-18-191-166-106.us-east-2.compute.amazonaws.com/api/RestController.php?type=contact_group_member&view=memberlist&id=$1
RedirectMatch ^/contact_group_member/add/([0-9]+)/([0-9]+)/?$ http://ec2-18-191-166-106.us-east-2.compute.amazonaws.com/api/RestController.php?type=contact_group_member&view=add&id=$1&user=$2
RedirectMatch ^/contact_group_member/remove/([0-9]+)/([0-9]+)/?$ http://ec2-18-191-166-106.us-east-2.compute.amazonaws.com/api/RestController.php?type=contact_group_member&view=remove&id=$1&user=$2

#contact_group
RedirectMatch ^/contact_group/grouplist/([0-9]+)/$ http://ec2-18-191-166-106.us-east-2.compute.amazonaws.com/api/RestController.php?type=contact_group&view=grouplist&user=$1
RedirectMatch ^/contact_group/group/([0-9]+)/$ http://ec2-18-191-166-106.us-east-2.compute.amazonaws.com/api/RestController.php?type=contact_group&view=group&id=$1
RedirectMatch ^/contact_group/add/([^/]+)/$ http://ec2-18-191-166-106.us-east-2.compute.amazonaws.com/api/RestController.php?type=contact_group&view=add&info=$1
RedirectMatch ^/contact_group/delete/([0-9]+)/$ http://ec2-18-191-166-106.us-east-2.compute.amazonaws.com/api/RestController.php?type=contact_group&view=delete&id=$1

#contact_request
RedirectMatch ^/contact_request/pending/([0-9]+)/?$ http://ec2-18-191-166-106.us-east-2.compute.amazonaws.com/api/RestController.php?type=contact_request&view=pending&user=$1
RedirectMatch ^/contact_request/pendingfrom/([0-9]+)/?$ http://ec2-18-191-166-106.us-east-2.compute.amazonaws.com/api/RestController.php?type=contact_request&view=pendingfrom&user=$1
RedirectMatch ^/contact_request/add/([0-9]+)/([0-9]+)/?$ http://ec2-18-191-166-106.us-east-2.compute.amazonaws.com/api/RestController.php?type=contact_request&view=add&user=$1&contact=$2
RedirectMatch ^/contact_request/delete/([0-9]+)/([0-9]+)/?$ http://ec2-18-191-166-106.us-east-2.compute.amazonaws.com/api/RestController.php?type=contact_request&view=delete&user=$1&contact=$2
RedirectMatch ^/contact_request/accept/([0-9]+)/([0-9]+)/?$ http://ec2-18-191-166-106.us-east-2.compute.amazonaws.com/api/RestController.php?type=contact_request&view=accept&user=$1&contact=$2
RedirectMatch ^/contact_request/deny/([0-9]+)/([0-9]+)/?$ http://ec2-18-191-166-106.us-east-2.compute.amazonaws.com/api/RestController.php?type=contact_request&view=deny&user=$1&contact=$2

#contact
RedirectMatch ^/contact/id/([0-9]+)/?$ http://ec2-18-191-166-106.us-east-2.compute.amazonaws.com/api/RestController.php?type=contact&view=all&id=$1
#RedirectMatch ^/contact/add/([0-9]+)/([0-9]+)/?$ http://ec2-18-191-166-106.us-east-2.compute.amazonaws.com/api/RestController.php?type=contact&view=add&user=$1&contact=$2
RedirectMatch ^/contact/delete/([0-9]+)/([0-9]+)/?$ http://ec2-18-191-166-106.us-east-2.compute.amazonaws.com/api/RestController.php?type=contact&view=delete&user=$1&contact=$2

#transaction
RedirectMatch ^/transaction/id/([0-9]+)/?$ http://ec2-18-191-166-106.us-east-2.compute.amazonaws.com/api/RestController.php?type=transaction&view=id&id=$1
RedirectMatch ^/transaction/debtor/([0-9]+)/?$ http://ec2-18-191-166-106.us-east-2.compute.amazonaws.com/api/RestController.php?type=transaction&view=debtor&id=$1
RedirectMatch ^/transaction/creditor/([0-9]+)/?$ http://ec2-18-191-166-106.us-east-2.compute.amazonaws.com/api/RestController.php?type=transaction&view=creditor&id=$1
RedirectMatch ^/transaction/add/([^/]+)/?$ http://ec2-18-191-166-106.us-east-2.compute.amazonaws.com/api/RestController.php?type=transaction&view=add&info=$1
RedirectMatch ^/transaction/addmultiple/([^/]+)/?$ http://ec2-18-191-166-106.us-east-2.compute.amazonaws.com/api/RestController.php?type=transaction&view=addmultiple&info=$1
RedirectMatch ^/transaction/balances/([0-9]+)/?$ http://ec2-18-191-166-106.us-east-2.compute.amazonaws.com/api/RestController.php?type=transaction&view=balances&id=$1


#user
RedirectMatch ^/user/login/([^/]+)/([^/]+)/?$ http://ec2-18-191-166-106.us-east-2.compute.amazonaws.com/api/RestController.php?type=user&view=login&email=$1&pass=$2
RedirectMatch ^/user/id/([0-9]+)/$ http://ec2-18-191-166-106.us-east-2.compute.amazonaws.com/api/RestController.php?type=user&view=id&id=$1
RedirectMatch ^/user/email/([^/]+)/?$ http://ec2-18-191-166-106.us-east-2.compute.amazonaws.com/api/RestController.php?type=user&view=email&email=$1
RedirectMatch ^/user/add/([^/]+)/?$ http://ec2-18-191-166-106.us-east-2.compute.amazonaws.com/api/RestController.php?type=user&view=add&info=$1
RedirectMatch ^/user/update/([^/]+)/?$ http://ec2-18-191-166-106.us-east-2.compute.amazonaws.com/api/RestController.php?type=user&view=update&info=$1
RedirectMatch ^/user/delete/([0-9]+)/?$ http://ec2-18-191-166-106.us-east-2.compute.amazonaws.com/api/RestController.php?type=user&view=delete&id=$1